[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# Code quality
# ------------------------------------------------------------------------------
black = "*" 
isort = "*"
pre-commit = "*"
pylint = "*"
pyroma = "*"
# Testing
# ------------------------------------------------------------------------------
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
bandit = "*"
mypy = "*"

[packages]
frictionless = "*"
